*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/app/build/
/captures/
.externalNativeBuild/
.cxx/
*.apk
*.ap_
*.aab
app/libs/*.aar
app/libs/*.jar
!app/libs/.gitkeep
*.log
.kotlin/
keystore/
*.jks
*.keystore
app/build/
build-release.log
tmp_v2rayng/
